.hero2-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.imgblock{
     padding-top: 10%;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
     
}
.imgblock img{
    border-top-left-radius:50%;
    width: 80%;
    max-height:600px;
    min-width: 500px;
    min-height: 500px;
}
.block-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 10%;
}
.block-des h1{
    color: #1A4122;
    font-family: "F37 Caslon", serif;
    font-size: 6em;
    margin: 10px;
    align-self: center;
    text-align: center;
    /* max-width: 560px; */
}
.block-des h3{
    max-width: 80%; 
    color: #647B4E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5px;
}
.block-des p{
    width: 80%;
    margin: 30px auto 35px;
    color: #1A4122;
    font-size: 20px;
    line-height: 140%;
}
.block-des #btn{
    background-color: #C15627;
    border-radius: 30px;
    padding: 10px 60px 10px 40px;
    text-wrap: nowrap;
    position: relative;
    text-transform: uppercase;
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    transition: .2s;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 2;
}
.block-img{
    flex: 1;
}
@media (max-width: 1050px) {
    .block-des{
        width: 100%;
    }
    .imgblock{
        width: 80%;
        height: auto;
    }
}